<!DOCTYPE html> 

<html>
    <head>
        <title></title>
        <link type="text/css" rel="stylesheet" href="static/styles/about.css">
    </head>

    <body>
        <!-- nav  -->
        <div>
            <h2><a href="/">Home</a> </h2>
            <h2> <a href="https://github.com/mdrame">Contact US </a></h2>
            <h2> <a href="{{ url_for('pp') }}">Privacy Policy </a> </h2>
        </div>

        <div class="photodiv"> 
            <img src="static/image/me.jpeg"/>
        </div>

        <div class="aboutMeDiv">
            <h1 class="name"> Mohammed Drame </h1>
            <h4 class="title"> Computer Software Engineer</h4>
            <p class="aboutme">
                 Currently, an undergraduate candidate pursuing a B.S in Applied Science 
                 (Computer SoftWare Engineer )(IOS & BackEnd Web ) at Make School.<br> San Francisco, CA.
                Interests are Machine Learning, Genetic Engineering, and Coding of course 🌻. 
            </p>
        </div>
       
    </body>



</html>