<!DOCTYPE html> 

<html>
    <head>
        <title></title>
        <link type="text/css" rel="stylesheet" href="static/styles/converting.css">
    </head>

    <body>

        <!-- haed and body  -->
        <!-- form big wrap  -->
        <div>
            <div class="header">
                <h1> Bulk Youtube Downloader </h1>
            </div>
             <!-- small wrap next to big wrap  -->
            <div id="variableDIV">
                {% for i in range(0,( urls | length)) %}
                <!-- testing 8...23 -->
                <!-- <h3> {{ urls[i][8:23] }}</h3> -->
                    <!-- if the 8...22 character is equal 'www.youtube.com' then execute code -->
                    {%  if 'www.youtube.com' in urls[i] %} 
                            <h3> {{ urls[i] }}  = > DOWNLOAD SUCESSFUL ✅ </h3>
                    {%  else %}
                        <h3> {{ urls[i] }}  = >  Not a youtube link pal ❌ </h3>
                    {%  endif %} 
                        
                {% endfor %}
            </div>
        </div>

        <!-- div download button -->
        <div id="DivdownloadButton">
                <button type="submit" id="button"><a href="/"> Start Over </a> </button>
        </div>

        <!-- nav  -->
        <div>
            <h2> About </h2>
            <h2> Contact US </h2>
            <h2> Privacy Policy  </h2>
        </div>
       
    </body>



</html>