<!DOCTYPE html> 

<html>
    <head>
        <title></title>
        <link type="text/css" rel="stylesheet" href="static/styles/converting.css">
    </head>

    <body>

        <!-- haed and body  -->
        <!-- form big wrap  -->
        <div>
            <div class="header">
                <h1> Bulk Youtube Downloader </h1>
            </div>
             <!-- small wrap next to big wrap  -->
            <div>
                    <h1> Youtube API Detail </h1>
            </div>
        </div>

        <!-- nav  -->
        <div>
            <h2> About </h2>
            <h2> Contact US </h2>
            <h2> Privacy Policy  </h2>
        </div>
       
    </body>



</html>