<!DOCTYPE html> 

<html>
    <head>
        <title></title>
        <link type="text/css" rel="stylesheet" href="static/styles/index.css">
    </head>

    <body>

        <!-- haed and body  -->
        <!-- form big wrap  -->
        <div>
            <div class="header">
                <h1> Bulk Youtube Downloader </h1>
            </div>
             <!-- small wrap next to big wrap  -->
            <div>
                    <form>
                            <!-- input div -->
                            <div class="inputDiv">
                              <input class="field" id="firstURL" placeholder="URL 1">
                              <input class="field" id="secondURL" placeholder="URL 2">
                              <input class="field" id="thirdURL" placeholder="URL 3">
                              <input class="field" id="forthURL" placeholder="URL 4">
                              <input class="field" id="fifthURL" placeholder="URL 5">
                              <div id="DivdownloadButton">
                              <input  id="button" type="button" value="DOWNLOAD">
                              </div>
                            </div>
                        </div>
                    </form>
            </div>
        </div>

        <!-- nav  -->
        <div>
            <h2> About </h2>
            <h2> Contact US </h2>
            <h2> Privacy Policy  </h2>
        </div>
       
    </body>



</html>