<!DOCTYPE html> 

<html>
    <head>
        <title></title>
        <link type="text/css" rel="stylesheet" href="static/styles/index.css">
    </head>

    <body>

        <!-- haed and body  -->
        <!-- form big wrap  -->
        <div>
            <div class="header">
                <h1> Bulk Youtube Downloader </h1>
            </div>
             <!-- small wrap next to big wrap  -->
            <div>
                    <form action="/converting" method="post">
                            <!-- input div -->
                            <div class="inputDiv">
                              <input name="urlone" class="field" id="firstURL" placeholder="URL 1">
                              <input name="urltwo" class="field" id="secondURL" placeholder="URL 2">
                              <input name="urlthree" class="field" id="thirdURL" placeholder="URL 3">
                              <input name="urlfour" class="field" id="forthURL" placeholder="URL 4">
                              <input name="urlfive" class="field" id="fifthURL" placeholder="URL 5">
                              <div id="DivdownloadButton">
                              <button type="submit" id="button"> Download </button>
                              </div>
                            </div>
                        </div>
                    </form>
            </div>
        </div>

        <!-- nav  -->
        <div>
            <h2><a href="{{ url_for('about') }}">About </a> </h2>
            <h2> <a href="https://github.com/mdrame">Contact US </a></h2>
            <h2> <a href="{{ url_for('pp') }}">Privacy Policy </a> </h2>
        </div>
       
    </body>



</html>